<div data-purplecoat="shiori" data-purplecoat-label="sidebar.html">
  <!-- Sobre mi -->
  <div class="nav nav-sidebar">
    <h3 class="section-header">
      Sobre mi
    </h3>

    <p>
      <div class="media">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/3/005/080/112/04af92f.jpg" class="image-rounded media-object pull-left" width="150px" height="150px">
        <div class="media-body">
          <h4 class="media-heading">Nuria Hernández</h4>
          <p>Curiosa, autodidacta, alegre, perseverante</p>
        </div>
      </div>
    </p>
  </div>


  <div class="nav nav-sidebar">
    <table class="table">
      <colgroup>
        <col width="35%">
        <col width="35%">
        <col width="35%">
      </colgroup>
      <tr>
        <th><h1><a href="https://github.com/lycisca" target="_blank" class="btn-social-icon btn-github"><i class="fa fa-github fa-lg"></i></a></h1></td>
        <th><h1><a href="https://es.linkedin.com/in/licysca" target="_blank" class="btn-social-icon btn-linkedin"><i class="fa fa-linkedin fa-lg"></i></a></h1></td>
        <th><h1><a href="mailto:hernandez.glez@gmail.com" target="_blank" class="icon-envelope"><i class="fa fa-envelope"></i></a></h1></td>
      </tr>
  </table>
  </div>

  <!-- Twitter -->
  <div class="nav nav-sidebar">
    <p><a href="https://twitter.com/Licysca" class="twitter-follow-button" data-show-screen-name="true" data-show-count="true" data-dnt="true" data-size="large">Follow @Licysca</a></p>
  </div>

  <div class="nav nav-sidebar">
    <a class="twitter-timeline"  href="https://twitter.com/Licysca" data-widget-id="539115523167256577" data-chrome="noborders">Tweets por el @Licysca.</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>         
  </div>
